{% extends '_base.html' %}

{% load static %}
{% load i18n %}

{% block page_title %}
    Blog Detail
{% endblock %}

{% include "footer.html" %}


{% block content %}  
    {% include "top_header.html" with header_name=blog.title %}

    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <article>
                   
                    <br>
                    {% if blog.image %}
                        <figure class="mb-5">
                            <img class="container-fluid "  src="{{ blog.image.url }}" alt="">
                        </figure>
                    {% endif %}
                  
                    <section class="mb-6">
                        {{ blog.content|linebreaks }}
                    </section>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
